* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  height: 100%;
}

.container {
  width: 80%;
  margin-inline: auto;
  margin-top: 7.5vh;
  background-color: #47515d;
  padding: 10px;
  border-radius: 12px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 7vh;
}

.nav-bar .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.menu p,
.disk-show p {
  background-color: #8694a369;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.menu p:hover {
  scale: calc(1.1);
}

.menu .active,
.disk-show .active {
  background-color: rgba(172, 255, 47, 0.399);
  scale: calc(1.1);
}

.city {
  width: 80%;
  margin: 5px auto;
  text-align: center;
  background-color: #333;
  padding: 10px;
  border-radius: 12px;
  color: #fff;
}

.city input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  width: 100%;
  text-align: center;
}

.inputs,
.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.inputs .floating-input {
  position: relative;
  width: 80%;
  margin: 10px;
}

.floating-input input {
  width: 100%;
  padding: 7px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  text-align: center;
  background-color: #222c3f;
  color: white;
}

.floating-input label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  padding: 0 4px;
  color: #fff;
  pointer-events: none;
  transition: 0.25s ease;
}

.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label {
  top: 0px;
  font-size: 13px;
  color: #fff;
  background-color: #47515d;
}

.result {
  margin: 10px auto;
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  width: 80%;
  border-radius: 12px;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.exceeded {
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}
.with-range {
  background-color: green;
  padding: 5px;
  border-radius: 5px;
}

.btn button {
  border: none;
  outline: none;
  background-color: rgba(64, 64, 244, 0.7);
  color: white;
  padding: 7px;
  border-radius: 5px;
  width: 40%;
  margin: 10px 0;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.copy-right {
  background-color: #47515d;
  text-align: center;
  color: #fff;
  padding: 8px;
  border-radius: 8px 8px 0 0;
}

.disk-show {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.show-mobile {
  display: none;
}

.mobile {
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 700px) {
  body {
    background-color: #47515d;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 8.5%;
  }

  .copy-right {
    background-color: #333;
  }

  .disk {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .disk-show {
    flex-direction: column;
    margin: 20px 0 0 5px;
    align-items: start;
    width: 100%;
    justify-content: start;
    margin-top: 20px;
    gap: 50px;
  }

  .show-mobile {
    background-color: black;
    width: 60%;
    position: absolute;
    top: 47px;
    left: 0;
    display: flex;
    height: 50vh;
    border-radius: 0 8px 8px 0;
  }

  .disk-show p {
    width: 80%;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
}

.container-card {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #333;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  margin: 10px auto;
}

.card .hour {
  text-align: center;
}

.card .item-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
